<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <style>
  
  </style>
  <div id="footer">

    <div id="Insta"></div>
    <div id="head">
      <div id="box">
        <button id="home">
          <i class="ri-home-5-fill"></i>
           <a href="/">home</a>
        </button>
      </div>
      <div id="box">
        <button>
          <i class="ri-search-line"></i>
          <p>Search</p>
        </button>
      </div>
      <div id="box">
        <button>
          <i class="ri-compass-3-fill"></i>
          <a href="#">Explore</a>
        </button>
      </div>
      <div id="box">
        <button>
          <p>Real</p>
        </button>
      </div>
      <div id="box">
        <button>
          <i class="ri-messenger-line"></i>
          <a href="#">Message</a>
        </button>
      </div>
      <div id="box">
        <button>
          <i class="ri-heart-line"></i>
          <p>Notification</p>
        </button>
      </div>
      <div id="box">
        <button>
          <i class="ri-add-box-line"></i>
          <a href="/create">create</a>
        </button>
      </div>
      <div id="box">
        <button>
          <div class="p-circle"></div>
          <a href="/profile">profile</a>

        </button>
      </div>
    </div>
    <div id="bottom">
      <div id="b-box">
        <button>
          <i class="ri-threads-line"></i>
          <a href="#">threads</a>
        </button>
      </div>
      <div id="b-box">
        <button>
          <i class="ri-menu-line"></i>
          <p>more</p>
        </button>
      </div>
    </div>
  </div>
  
</body>
</html>